<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Silent Bggl</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  </head>
  <body>
    <h2>Welcome to silent bggl!</h2>
    <a id=play-link href="/play">Play Bggl!!</a>


  </body>
</html>
